html {
  margin-top: 50px;
  margin-bottom: 50px;
}

footer {
  background-color: black;
  color: grey;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  z-index: 999;
}

header {
  background-color: black;
  color: grey;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  z-index: 999;
}

.logo {
  font-weight: 900;
  color: white;
}

.navigation {
 text-align: right;
}

.navigation a {
  color: white;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}

pre {
  padding: 10px;
  margin: 10px;
  background-color: #f2f2f2;
}


.pull-left {
  float: left;
  clear: none;
}

.pull-right {
  float: right;
  clear: none;
}


.button.button-primary, 
button.button-primary, 
input[type="submit"].button-primary, 
input[type="reset"].button-primary, 
input[type="button"].button-primary {
  background-color: black;
  color: white;
  border: 0;
}

.button.button-primary:hover, 
button.button-primary:hover, 
input[type="submit"].button-primary:hover, 
input[type="reset"].button-primary:hover, 
input[type="button"].button-primary:hover,
.button.button-primary:focus, 
button.button-primary:focus, 
input[type="submit"].button-primary:focus, 
input[type="reset"].button-primary:focus, 
input[type="button"].button-primary:focus {
  background-color: #333;
}

ul.errors li {
 color: red;
 font-weight: bold;
 list-style-type: disc;
 list-style-position: outside;
 position: relative;
 left: 15px;
 width: 95%;
}

ul.status li {
  color: darkblue;
  font-weight: bold;
  list-style-type: disc;
  list-style-position: outside;
  position: relative;
  left: 15px;
  width: 95%;
 }
 